/* Mobile */
@media only screen and (max-width: 900px){
 body{
    background-color: aqua;
 }
 .resume{
    width:100vw;
    height:100vw;
 }
}

/* Desktop */
@media only screen and (min-width: 901px){
  body{
    background-color: palevioletred;
  }
  .resume{
    width:1000px;
    height:1150px;
 }
}
