@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body{
  background-color: rgb(81, 138, 192);
  margin: 0;
  font-family: "Montserrat";
}

p, h1, h2, h3, h4, h5, h6, li{
  color: white;
  cursor: default;
}
a{
  text-decoration: none;
}

hr{
  margin: 0;
}


/* Mobile */
@media only screen and (max-width: 600px){
  .noMobile{
    display: none !important;
  }
}

/* Desktop */
@media only screen and (min-width: 601px){
  .noDesktop{
    display: none !important;
}
}