.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: .3s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 7px);
    -o-transform: rotate(-45deg) translate(-9px, 7px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-bottom: 1px solid white;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
} 
.topnav .icon {
    display: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding: 4.5px 9px 0px 0px;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/* DESKTOP */
@media screen and (min-width: 601px){
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%; 
    }    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    #content{
        margin-top: 48px;
    }
}